<div id="header" data-role="header" data-theme="a">
    <a style="margin-top:10px;" href="index.html/#search-page"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <h1 style='margin-top: 19px;'>Login</h1>
</div>
<div class="container login-dev" style="padding-left: 20px;padding-right: 20px;padding-top: 10px;">
    <div class="row">
        <h2>Login</h2>
        <hr style="margin: 24px 0;">
        <p style="margin-top: -16px;">Email <input type="text" ng-model="customer.email"></p>
        <hr style="margin: 24px 0;">
        <p style="margin-top: -16px;">Password <input type="password" ng-model="customer.mypass"></p>
        <hr style="margin: 24px 0;">
        <button  class="btn btn-primary" ng-click="login()">Login</button>
        <a href="index.html/#register">
            <button  class="btn btn-primary" >Register here</button>
        </a>
    </div>
</div>




